.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #343434;
    color: #fff;
    min-height: 50rem;
    padding: 4rem;
    font-size: 3.5rem;
    font-weight: 200;


    &__about {
        margin: 3rem;
        &--heading{
        font-weight: 500;
        }
        &--list {
            list-style-type: none;
            font-size: 2.5rem;
            cursor: pointer;
            li:hover{
                color: #00bec9;
            }
        }

    }
    &__services {
        margin: 3rem;
        &--heading{
            font-weight: 500;
            }
        &--list {
            list-style-type: none;
            font-size: 2.5rem;
            cursor: pointer;
            li:hover{
                color: #00bec9;
            }
        }
    }
    &__contact {
        padding: 3rem;
        text-align: right;
        &--heading{
            font-weight: 500;
            }
        &--text{
            font-size: 2.5rem;
            font-weight: 200;
        }
        &--social{
            display: flex;
            justify-content: flex-end;

            .social-icon{
                width: 4rem;
                margin: 0 1rem;
                display: flex;
                border-radius: 100px;
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    opacity: .8;
                    filter: invert(100%);
                }
               
            }
        }
    }
    &__search{
        justify-content: flex-end;
        padding: 3rem 0;
    }
    &__button{
        align-self: stretch;
        width: 7rem;
    }
}
