.header {
    background-color: #daac00;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }
}

.navigation {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    &__list {
        list-style-type: none;
        display: flex;
       
    }
    &__link {
        text-decoration: none;
        margin: 1rem 2rem;
        color: #fff;
        &:hover{
            color: #00bec9;
        }
        
    }
}

.search {
    flex: 0 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__input {
        font-family: inherit;
        font-size: 2rem;
        color: #fff;
        // padding: .8rem 0;
        background-color: #fcc302;
        border: none;
        width: 40%;
        margin-right: -2.5rem;
        transition: all 0.2s;
        // @media only screen and (max-width: $bp-medium){
        //     padding: 1.52rem 0;
        // }
        &:focus {
            outline: none;
            width: 50%;
            background-color: #fcc302;
        }
        &::-webkit-input-placeholder {
            font-weight: 400;
            color: #fff;
            padding: 0 3rem;
        }

    }
    &__input:focus + &__button {
        background-color: #00bec9;
    }
    &__button {
        border: none;
        background-color: #00bec9;
        cursor: pointer;
        img{
            width: 2.7rem;
        }
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    @media only screen and (max-width: $bp-medium){
        // width: 100%;
        margin: 3rem 0;
    }
}
