.overview {
    background-color: #fcc302;
    height: 100%;
    width: 100%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;

    &__text {
        flex: 0 1 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;
        color: #fff;

        &--heading {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    &__image {
        // flex: 1;
    }
    &__photo {
        width: 100%;
    }
}
.paragraph {
    font-size: 3rem;
    padding: 2rem 0;
    
}

.btn-primary {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 1.7rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: #00bec9;
        border-color: #00bec9;
    }
    
}

.btn-secondary {
    margin-top: 4rem;
    background-color: #00bec9;
    border: 3px solid transparent;
    border-radius: 100rem;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:focus{
        outline: none;
        transform: translateY(2px);
    }
}
