.swiper{
    margin: 5rem 7rem;
    min-width: 50vh;
    text-align: center;
}
.swiper-container{
    // margin: 13rem 2rem;
    // @media only screen and (max-width: $bp-large){
    //     margin: 0;
    // }
}
.swiper-wrapper{
    // margin: 1rem;
}
.swiper-slide{
    // margin: 0 3rem 0 3rem;
    // padding: 3rem;
}

.card{}

.social-icon{
    background-color: orangered;
}
.card{
    margin-bottom: 8rem;
    img{
        width: 100%;
    }
}
.swcard__container{
    width: 100%;
    text-align: center;

    &--name{
        margin-top: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    &--position{
        padding: 2rem 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
    &--social{
        display: flex;
        justify-content: center;
        // color: blue;
        // -webkit-mask: no-repeat center;
        // mask: no-repeat center;
        // mask-size: cover;
    }
}
.social-icon{
    width: 3rem;
    height: 3rem;
    fill: red;
    // background-color: red;
}

